body{ font-family:Arial, sans-serif; margin:0; padding: 0;background-color: #f4f4f4;}
.container{width: 80% ; margin: auto;overflow: hidden;}
header{background: #333;color: #fff;padding: 20px; text-align: center;}
.profile{text-align: center;padding: 20px;}
.profile img{border-radius: 50%;height: 150px;width: 150px;}
.contact-form{background: #fff;padding: 20px;margin: 20px auto;width: 50%;border-radius: 5px;box-shadow: 0px 0px 10x rgba(0,0,0,0.1)}
.contact-form input,.contact-form textarea {width: 100% ;padding: 10px;margin-bottom: 10px;border-radius: 5px;}
.contact-form button {background: #333;color: #fff; padding: 10px 20px; cursor: pointer;width: 100%;}